.main-bar.svelte-1irrtsp{background:black;width:100vw;display:flex;justify-content:center;align-items:center}.color-green.svelte-1irrtsp{color:red}
.main-page.svelte-1hi17tl{background:#2b2f32;height:100vh;width:60vw;display:flex;justify-content:center;align-items:center;margin:0 auto}
.playbar.svelte-c9aujr{position:fixed;bottom:0;left:0;z-index:10}
