.main-bar.svelte-1irrtsp{background:black;width:100vw;display:flex;justify-content:center;align-items:center}.color-green.svelte-1irrtsp{color:red}
.playbar.svelte-c9aujr{position:fixed;bottom:0;left:0;z-index:10}
